S -> type name (args);
args -> arg arg_ | Eps
arg -> type star name
arg_ -> , type star name arg_ | Eps
star -> *star | Eps
type -> word
name -> word


Nonterminal |     First    |      Follow
----------------------------------------------
S           |    {word}    |        {$}
----------------------------------------------
args        |  {word, eps} |       {')'}
----------------------------------------------
arg         |    {word}    |    {',', ')'}
----------------------------------------------
arg_        |  {',', eps}  |       {')'}
----------------------------------------------
star        |  {'*', eps}  |      {word}
----------------------------------------------
type        |    {word}    |    {word, '*'}
----------------------------------------------
name        |    {word}    |  {'(', ',', ')'}
----------------------------------------------

dot -Tpdf 0.gv -o 0.pdf